/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron{
	text-align: center;
	background-image: url('../images/plain.jpg');
}

.jumbotron{
	margin-top: 0px;
	margin-bottom:50px;
	color: white;
}

.jumbotron p{
	font-weight: 700;
}

.jumbotron p{
	margin-bottom: 30px;
}
.jumbotron h1, h2 ,h3{
	font-family: 'Arvo',courier, serif;
}

.jumbotron{
	padding: 7rem;
}
ul.nav{
	font-family: 'Arvo',courier, serif;
}
ul.nav{
	font-size: 16px;
}

#Get-to-know-me{
	background-color: floralwhite;
}

.homepage{
	text-align: center
}

.homepage h2, .homepage h3{
color: currentColor;
	font-family: 'Arvo',courier, serif;
	text-align: center;
	text-transform: uppercase;	
}
.homepage h2{
	font-size: 30px
}
.homepage h3{
	font-size: 26px;
	
}
.homepage p{
    font-size: 21px;
    font-weight: 300
}
.homepage hr{
	border-top: 1px  solid#e74c3c;
	width:160px;
	margin-top: 15px;
}

/*responsive styling*/
@media (max-width: 1199px) { 
	.jumbotron h1{
		font_size:36px;
		margin-bottom: :30px;
	}
 }

@media (max-width: 991px) { 
	.jumbotron h1{
		font_size:40px;
	}
	.jumbotron p{
		padding: 10px;
	}
	#Get-to-know-me.col-md-4{
		padding-top:20px;
		padding-bottom:20px;
	}
 }

 @media (max-width: 767px) { 
	.jumbotron h1{
		font_size:44px;
	}
	.jumbotron p{
		padding: 10px;
	}
	#Get-to-know-me.col-md-4{
		padding-top:20px;
		padding-bottom:20px;
	}
 }
